body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1425px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3785 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3785_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1425px;
  height:793px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3785_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  display:flex;
}
#u3787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:15px;
  height:15px;
  display:flex;
}
#u3788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:140px;
  height:16px;
  display:flex;
  color:#666666;
}
#u3789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3790_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3790_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1px;
  width:170px;
  height:29px;
  display:flex;
}
#u3790 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3790_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3790.disabled {
}
.u3790_input_option {
}
#u3791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:497px;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1425px;
  height:497px;
  display:flex;
}
#u3791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:255px;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:538px;
  width:952px;
  height:255px;
  display:flex;
}
#u3792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:1372px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:310px;
  width:1372px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:560px;
  width:930px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3785_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1411px;
  height:689px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3785_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:639px;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1411px;
  height:639px;
  display:flex;
}
#u3796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3797_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3797_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  display:flex;
}
#u3797 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3797_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3797.disabled {
}
.u3797_input_option {
}
#u3798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3798_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:280px;
  height:29px;
  display:flex;
}
#u3798 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3798_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3798.disabled {
}
.u3798_input_option {
}
