body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1709px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3799 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3799_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1709px;
  height:794px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3799_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:794px;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:794px;
  display:flex;
}
#u3800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3801_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:11px;
  width:430px;
  height:31px;
  display:flex;
}
#u3801 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3801_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3801.disabled {
}
.u3801_input_option {
}
#u3799_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1503px;
  height:731px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3799_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:691px;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1503px;
  height:691px;
  display:flex;
}
#u3802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3803_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  display:flex;
}
#u3803 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3803_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3803.disabled {
}
.u3803_input_option {
}
#u3804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3804_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  padding:3px 2px 3px 5px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:280px;
  height:31px;
  display:flex;
}
#u3804 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3804_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804.disabled {
}
.u3804_input_option {
}
